.makeFlex {
  display: flex;
}
.makeCentre {
  align-items: center;
  justify-content: center;
}
.reduceWidth {
  width: 75%;
}
.fullWidth {
  width: 100%;
}
.magnify:hover {
  cursor: pointer;
  background-color: black;
  transform: scale(1.2);
}
.breakDiv {
  height: 30px;
}
